@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Estilo sincronização das palaravras */
.sentence {
    transition: background-color 0.2s ease;
}

.sentence.highlight {
    background-color: lightblue;
    font-weight: bold;
}

/* Estilo do card de detalhe das palaras*/
#tooltip {
    position: absolute;
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    border: 1px solid #ddd;
}
.hidden {
    display: none;
}
.word {
    cursor: pointer;
}

.word:hover{
    background-color: cyan;
    font-size: 18px;
}
